
//0         1         2
//12345678901234567890
fun (_____________) {
  (_____________) = !done #42
}

// this should work
run {
  !call x '_____________' []
  !done x
}

// this should fail
run {
  !done (_____________ 42)
}
