
//0         1         2
//12345678901234567890
!(____________________) {
  !(____________________) = $(IO.done #42)
}
  = #0

// {
  // $(IO.call `____________________` $(Tuple0) @x
  // $(IO.done x)
  // )
// }
