ctr {Cons head tail}
ctr {Nil}
ctr {Add x}
ctr {Get}

fun (DaList act) {
  (DaList {Get})   = !load x !done x
  (DaList {Add x}) = 
    !take xs
    !save {Cons x xs}
    !done #0
} with { {Cons #42 {Nil}} }

run {
  !call x 'DaList' [{Get}] 
  !done x
}

run {
  !call ~ 'DaList' [{Add #69}] 
  !done #0
}

run {
  !call x 'DaList' [{Get}]
  !done x
}

run {
  !call ~ 'DaList' [{Add #111}]
  !done #0
}

run {
  !call x 'DaList' [{Get}]
  !done x
}
