ctr {Cons head tail}
ctr {Nil}
ctr {Add x}
ctr {Get}

fun (DaList act) {
  (DaList {Get})   = 
    ask x = (Load);
    (Done x)
  (DaList {Add x}) = 
    ask xs = (Take);
    ask (Save {Cons x xs});
    (Done #0)
} with { {Cons #42 {Nil}} }

run {
  ask x = (Call 'DaList' [{Get}] );
  (Done x)
}

run {
  ask (Call 'DaList' [{Add #69}] );
  (Done #0)
}

run {
  ask x = (Call 'DaList' [{Get}]);
  (Done x)
}

run {
  ask (Call 'DaList' [{Add #111}]);
  (Done #0)
}

run {
  ask x = (Call 'DaList' [{Get}]);
  (Done x)
}
