// Deploys a simple Counter function
// ---------------------------------

fun (Counter action) {

  (Counter {Inc}) =
    ask x = (Take);
    ask (Save (+ x #1));
    (Done #0)

  (Counter {Get}) =
    ask x = (Load);
    (Done x)

} with { #0 }

// Increments the Counter's state 3 times, and prints
// --------------------------------------------------

run {
  ask (Call 'Counter' [{Inc}]);
  ask (Call 'Counter' [{Inc}]);
  ask (Call 'Counter' [{Inc}]);
  ask count = (Call 'Counter' [{Get}]);
  (Done count)
}
