// Deploys a tree-summing function
// -------------------------------

ctr {Leaf value}        // Tree element
ctr {Branch left right} // Tree branch

fun (Sum tree) {
  (Sum {Leaf x})     = x
  (Sum {Branch a b}) = (+ (Sum a) (Sum b))
}


// Sums a tree with 4 numbers
// --------------------------

run {
  (Done (Sum {Branch
    {Branch {Leaf #1} {Leaf #2}}
    {Branch {Leaf #3} {Leaf #4}}}))
}

// Deploys a tree-generator function
// ---------------------------------

fun (Gen depth) {
  (Gen #0) =
    {Leaf #1}
  (Gen x) =
    dup x0 x1 = x;
    {Branch (Gen (- x0 #1)) (Gen (- x1 #1))}
}

// Sums a tree with 2^20 numbers
// -----------------------------

run {
  (Done (Sum (Gen #20)))
}
