// Deploys a simple Counter function
// ---------------------------------

ctr {Test x}

fun (Counter action) {

  (Counter {Inc}) =
    ask (Emit {Test #2});
    ask x = (Take);
    ask (Save (+ x #1));
    (Done #0)

  (Counter {Get}) =
    ask (Emit #1);
    ask x = (Load);
    (Done x)

  (Counter {Foo x}) =
    (Done (+ x #3))

} with { #0 }

// Increments the Counter's state 3 times, and prints
// --------------------------------------------------

ctr {Foo val}

run {
  ask (Call 'Counter' {Inc});
  ask (Call 'Counter' {Inc});
  ask (Call 'Counter' {Inc});
  ask count = (Call 'Counter' {Get});
  (Done count)
}
