ctr {Succ p}
ctr {Zero}

fun (Add n) {
  (Add n) = {Succ n}
} = #0

fun (Sub n) {
  (Sub {Succ p}) = p
  (Sub {Zero}) = {Zero}
} = #0

ctr {StoreAdd}
ctr {StoreSub}
ctr {StoreGet}


fun (Store action) {
  (Store {StoreAdd}) =
    !take l
    !save (Add l)
    !done #0
  (Store {StoreSub}) =
    !take l
    !save (Sub l)
    !done #0
  (Store {StoreGet}) = 
    !load l
    !done l
} = {Zero}

run {
  !call ~ 'Store' [{StoreAdd}]
  !call ~ 'Store' [{StoreAdd}]
  !call x 'Store' [{StoreGet}]
  !done x
}

run {
  !call ~ 'Count' [{Count.Inc}]
  !call ~ 'Count' [{Count.Inc}]
  !call x 'Count' [{Count.Get}]
  !done x
}