
//0         1         2
//12345678901234567890
fun (A_________) {
  (A_________) = (Done #42)
}

// this should work
run {
  ask x = (Call 'A_________' []);
  (Done x)
}

// this should fail
run {
  (Done (A_________ #42))
}
