// ?? I'm not sure how unbound/free vars should behave.
// They seem to be resolving to #0 ?

ctr {Pair a b}

fun (SumPair p) {
  // Here `a` is free/unbound
  (SumPair {Pair ~ x}) = (- (+ #5 a) x)
}

ctr {Set x}
ctr {Get}

fun (Store x) {
  (Store {Set x}) = 
    ask (Save x);
    (Done #0)
  (Store {Get}) = 
    ask x = (Take);
    (Done x)
} with { #0 }

run {
  (Done (SumPair {Pair #777 #3}))
}
